<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="styles/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Scrap book</title>
</head>
 <body>

<div class="bgimg">
  <nav class ="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

    <div class="container">
      <a href="" class="navbar-brand text-warning font-weight-bold"> SCRAP BOOK</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
        <span class="navbar-toggler-icon"> </span>
      </button>
      <div class="collapse navbar-collapse text-center" id="collapsenavbar">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a href="" class="nav-link text-white">Homepage</a>
           </li>
          <li class="nav-item">
            <a href="" class="nav-link text-white">Memories</a>
           </li>
           <li class="nav-item">
            <a href="/profile" class="nav-link text-white">User</a>
           </li>
           <li class="nav-item">
            <a href="" class="nav-link text-white">About- App</a>
           </li>
           <li class="nav-item">
            <a href="" class="nav-link text-white">Contact</a>
           </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container text-center text-white headerset">
      <h2>  Welcome to Scrap Book!</h2>
      <h1>IT'S WHERE YOUR MEMORIES RESIDE</h1>
      <button><a href="http://www.youtube.com" class="btn btn-warning btn-lg">SUBSCRIBE</a></button>

    </div>
  </div>

  <section class="container mymemories text-center">
    <h1> Moment to cherish </h1>
    <p> lorem ipsum color sit amet cosensetetur </p>

    <div class="row rowsetting">
      <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
        <div class=" imgsetting d-block m-auto bg-warning"> <i class="fa fa-slideshare fa-3x text-white"></i>
         </div>

         <h2> About me </h2>
         <p> lorem ipsum color sit amet cosenseteturlorem ipsum color sit amet cosensetetur lorem ipsum color sit amet cosensetetur  </p>
       </div>

       <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
        <div class=" imgsetting d-block m-auto bg-warning"> <i class="fa fa-desktop fa-3x text-white"></i>
         </div>

         <h2> Memories </h2>
         <p> lorem ipsum color sit amet cosenseteturlorem ipsum color sit amet cosensetetur lorem ipsum color sit amet cosensetetur  </p>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
        <div class=" imgsetting d-block m-auto bg-warning"> <i class="fa fa-shopping-cart fa-3x text-white"></i>


         </div>

         <h2> User </h2>
         <p> lorem ipsum color sit amet cosenseteturvlorem ipsum color sit amet cosensetetur lorem ipsum color sit amet cosensetetur  </p>
       </div>
     </div>



  </section>


  <section class="portfolio bg-light">
    <div class="container text-center">
      <h1>PORTFOLIO<h1>
        <p>lorem ipsum color sit amet cosensetetur</p>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class= "card">
            <img src="/images/1.jpeg" class="card-img img-fluid">
            <div class ="card-body">
              <h2 class= "card-title"> Threads </h2>
              <p class="card-text">pictures</p>
          </div>
        </div>
      </div>

  <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class= "card">
            <img src="/images/1.jpeg" class="card-img img-fluid">
            <div class ="card-body">
              <h2 class= "card-title"> Threads </h2>
              <p class="card-text">pictures</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class= "card">
            <img src="/images/1.jpeg" class="card-img img-fluid">
            <div class ="card-body">
              <h2 class= "card-title"> Threads </h2>
              <p class="card-text">pictures</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class= "card">
            <img src="/images/1.jpeg" class="card-img img-fluid">
            <div class ="card-body">
              <h2 class= "card-title"> Threads </h2>
              <p class="card-text">pictures</p>
          </div>
        </div>
      </div>

  <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class= "card">
            <img src="/images/1.jpeg" class="card-img img-fluid">
            <div class ="card-body">
              <h2 class= "card-title"> Threads </h2>
              <p class="card-text">pictures</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class= "card">
            <img src="/images/1.jpeg" class="card-img img-fluid">
            <div class ="card-body">
              <h2 class= "card-title"> Threads </h2>
              <p class="card-text">pictures</p>
          </div>
        </div>
      </div>
        </div>
  </section>



<script src="scripts/app.js"></script>

</body>
</html>
