<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="icon" href="/images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>ScrapBook</title>
</head>
<body>

<div class="bgimg">
  <nav class ="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

    <div class="container">
      <a href="" class="navbar-brand font-weight-bold"> SCRAP BOOK</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
        <span class="navbar-toggler-icon"> </span>
      </button>
      <div class="collapse navbar-collapse text-center" id="collapsenavbar">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a href="#" class="nav-link text-white">Homepage</a>
           </li>
          <li class="nav-item">
            <a href="/memories" class="nav-link text-white">Memories</a>
           </li>
           <li class="nav-item">
            <a href="/profile" class="nav-link text-white">User</a>
           </li>
           <li class="nav-item">
            <a href="#about" class="nav-link text-white">About</a>
           </li>
           <li class="nav-item">
            <a href="/login" class="nav-link text-white">Login</a>
           </li>
           <li class="nav-item">
            <a href="/logout" class="nav-link text-white">Logout</a>
           </li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="container text-center text-white headerset">
      <h2 id="hero-text">  Welcome to Scrap Book!</h2>
      <h1>IT'S WHERE YOUR MEMORIES RESIDE</h1>
      <button><a href="/sign-up" class="btn btn-warning btn-lg">Sign-Up!</a></button>

    </div>
  </div>

  <section class="container mymemories text-center">
    <h1> Moments to Cherish </h1>
    <p> lorem ipsum color sit amet cosensetetur </p>

    <div class="row rowsetting">
      <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
        <div class="imgsetting d-block m-auto bg-warning" data-toggle="collapse" data-target="# About me">
         <i class="fa fa-slideshare fa-3x text-white"></i>
         </div>

         <h2> About </h2>
         <p> lorem ipsum color sit amet cosenseteturlorem ipsum color sit amet cosensetetur lorem ipsum color sit amet cosensetetur  </p>
       </div>

       <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
        <div class=" imgsetting d-block m-auto bg-warning"> <i class="fa fa-desktop fa-3x text-white"></i>
         </div>

         <h2> Post Your Memories </h2>
         <p> lorem ipsum color sit amet cosenseteturlorem ipsum color sit amet cosensetetur lorem ipsum color sit amet cosensetetur  </p>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
        <div class=" imgsetting d-block m-auto bg-warning"> <i class="fa fa-users fa-3x text-white"></i>


         </div>

         <h2> Awesome Community </h2>
         <p> lorem ipsum color sit amet cosenseteturvlorem ipsum color sit amet cosensetetur lorem ipsum color sit amet cosensetetur  </p>
       </div>
     </div>



  </section>
  <section class="portfolio bg-light">
    <div class="container text-center">
      <h1>TODAY'S FEATURED MEMORIES<h1>
        <p>lorem ipsum color sit amet cosensetetur</p>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class= "card">
            <img src="https://picsum.photos/150/150/?random=0" class="card-img img-fluid">
            <div class ="card-body">
              <h2 class= "card-title"> Threads </h2>
              <p class="card-text">Pictures</p>
          </div>
        </div>
      </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
      <div class= "card">
        <img src="https://picsum.photos/150/150/?random=1" class="card-img img-fluid">
        <div class ="card-body">
          <h2 class= "card-title"> Awesomeness </h2>
          <p class="card-text">Images</p>
        </div>
      </div>
    </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class= "card">
            <img src="https://picsum.photos/150/150/?random=2" class="card-img img-fluid">
            <div class ="card-body">
              <h2 class= "card-title"> Craziness </h2>
              <p class="card-text">Beauty</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class= "card">
            <img src="https://picsum.photos/150/150/?random=3" class="card-img img-fluid">
            <div class ="card-body">
              <h2 class= "card-title"> Gorgeousness </h2>
              <p class="card-text">Truly</p>
          </div>
        </div>
      </div>

  <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class= "card">
            <img src="https://picsum.photos/150/150/?random=4" class="card-img img-fluid">
            <div class ="card-body">
              <h2 class= "card-title"> Playfulness </h2>
              <p class="card-text">Friendly</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class= "card">
            <img src="https://picsum.photos/150/150/?random=5" class="card-img img-fluid">
            <div class ="card-body">
              <h2 class= "card-title"> Perfectness </h2>
              <p class="card-text">Milestone</p>
          </div>
        </div>
      </div>
        </div>
  </section>

<section id="about" class="ourteam">
  <div class="container text-center">
    <h1> OUR AMAZING TEAM </h1>
  <p>lorem ipsum color sit amet cosenseteturvlorem ipsum color sit amet cosensetetur lorem ipsum color.</p>

  <div class="row teamsetting">
    <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
      <figure class="figure">
        <img src="https://i.imgur.com/33ZErzy.jpg" class="figure-img img-fluid rounded-circle" height="250px" width="250px">
        <figcaption>
          <h4>  Mark Mandell </h4>
          <p class="figure-caption"> Developer </p>
        </figcaption>
      </figure>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
      <figure class="figure">
        <img src="https://i.imgur.com/jf9US6M.png" class="figure-img img-fluid rounded-circle" height="250px" width="250px">
        <figcaption>
          <h4> Praveen Khanal </h4>
          <p class="figure-caption"> Lead Designer </p>
        </figcaption>
      </figure>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
      <figure class="figure">
        <img src="https://i.imgur.com/zE9ezSK.png" class="figure-img img-fluid rounded-circle" height="250px" width="250px">
        <figcaption>
          <h4>  Tirapat Numsinvichietchai</h4>
          <p class="figure-caption"> Lead Developer </p>
        </figcaption>
      </figure>
    </div>
  </div>
  <img class="team-image" src="/images/ourteam.jpg" alt="Our Team" height="300px" width="500px">
</div>

</section>

<footer class="footer">
  <h6 class="text-center"> Copyright © 2018, Design by PTMteam </h6>
</footer>

<script src="scripts/app.js"></script>

</body>
</html>
