body {
  text-align: center;
}

img {
  max-height: 450px;
  max-width: 450px;
}

nav {
  margin-bottom: 5rem;
}

.header {
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
}

.row {
  margin: 2rem;
}

a {
  margin: 1rem;
}

#cancel-form {
  margin: 0;
}
