* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #f5f5f5 !important;
  text-align: center;
}

.navbar a {
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  background-color: #d4a674;
  box-sizing: border-box;
  border-radius: 10%;
}

h1 {
  font-size: 3rem !important;
}

.jumbotron {
  background-color: #FFF !important;
}

header {
  text-align: center;
}

aside {
  margin: 2rem;
}

.date.sticky {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.memory-buttons {
  padding: 5rem;
  text-align: center;
}

.dateAndPhotos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
  padding-left: 6rem;
  border-left: 2px solid #000;
}

#edit-memory {
  color: #FFF;
}

#delete-memory {
  color: #FFF;
}

#cancel-form {
  color: #FFF;
}

aside {
  display: flex;
  flex-direction: row;
  /*margin: 10px;*/
  width: 276px;
}

main {
  width: 614px;
}

.date {
  margin: 0 10px;
  width: 90px;
}

.sticky {
  position: sticky;
  top: 70px;
}

.photo-body {
  text-align: center;
}


/* ---------------- PHOTOS ---------------------------*/

.photo {
  margin-bottom: 40px;
}

img {
  width: 100%;
}

.photo-body {
  margin-top: 20px;
}

/* ---------------- SUBMIT BOTTON ---------------------*/

.btn {

  background-color: #FF9400;
  border: none;
}



/* ------------------------- MEDIA QUERIES -----------------------------*/

@media only screen and (max-width: 911px) {

  .dateAndPhotos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 770px) {

  .dateAndPhotos {
    flex-direction: column;
  }

  header {
    margin: 120px 0 70px;
  }

}

@media only screen and (max-width: 620px) {

  header {
    margin: 110px 0 50px;
  }

  main {
    width: 520px;
  }
}

@media only screen and (max-width: 590px) {

  header {
    margin: 100px 0 40px;
  }

  main {
    width: 490px;
  }
}

@media only screen and (max-width: 500px) {

  header {
    margin: 90px 0 30px;
  }

  main {
    width: 400px;
  }
}

@media only screen and (max-width: 412px) {

  header {
    margin: 80px 0 20px;
  }

  main {
    width: 390px;
  }
}
