
* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #FFF;
}

.nav-item a {
  transition: all 0.3s ease-in-out;
}

.nav-item a:hover {
  background-color: #d4a674;
  box-sizing: border-box;
  border-radius: 10%;
}

.jumbotron {
  margin: 3rem;
  text-align: center;
}

.create-form {
  padding-top: 5rem;
}

h1 {
  padding: 1rem;
}

input.form-control {
  margin-bottom: 1rem;
  padding: 2rem;
}
