
.bgimg{
	background-image: url("/images/2.jpeg");
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 800px;
	background-position: cover;

}
.headerset{
	padding-top: 200px;
	box-sizing: border-box;
}
a {
	text-transform: uppercase;

}
a:hover { 
    background-color:#bf55ec;
    border-radius: 50%;
    box-sizing: border-box;

}

.headerset h2{
	font-size: 32px;
	padding-top: 15px;
	padding: 40px;
}
.headerset h1{
	font-size: 38px;
	padding-top: 15px;
	padding-bottom: 35px;
	font-weight: bold;
}
 button{
	padding: 0;
	border: none;
	background: none;
	

}


/*my memories*/

.mymemories{
	padding: 100px 0px 60px;
	height: 700px;
}
.mymemories h1{
	font-size: 40px;
	font-weight: bold;


}
.rowsetting{
	margin: 80px 0px !important;
}
.imgsetting{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.fa-shopping-cart{
	margin-top: 20px;

}
.fa-slideshare{
	margin-top: 20px;
}
.fa-desktop{
	margin-top:20px;
}

.rowsetting p{ 
	padding: 10px;
	color: #6c757d!important;

}

.rowsetting h2{
	margin-top: 20px;
}
.rowsetting h2:hover{
    cursor: pointer;
	border-bottom: 2px solid #bf55ec;

}
.portfolio{
	height: 1100px;
	width: 100%;
	padding:100px 0px 50px;

}
.portfolio h1{
	font-size: 30px;
	margin-bottom: 30px;
}
.card{
	margin: 10px;
	font-size: 25px;
}
.card h2{
	
	font-size: 30px;
}


@media(min-width: 992px){

}

@media(min-width: 768px) and (max-width: 991px){

}
@media(min-width: 575px) and (max-width: 767px){

}
@media(min-width: 480px) and (max-width: 574px){

}
@media(max-width: 579px){
	.headerset h2{
	font-size: 22px;
}
.headerset h1{
	font-size: 22px;
	font-weight: bold;
}
.mymemories{
	
	height: 1400px;
}
.mymemories h2{
	
	height: 1200px;
}
.rowsetting h2{
	height: 100px;
}
.portfolio{
	height: 1600px;
}

}






